/*#contact, .term {
	text-align: justify !important;
	overflow: hidden !important;	
}
.mCustomScrollBox{
	overflow: visible !important;
}
.mCSB_container{
	padding-top: 10px;
}*/

/*
@media screen and (max-width: 480px){
	.sidebar .banner {
	margin-top: 71px;s
	background-image: url('img/mobile-banner.png');
	background-size: cover;
	}
	.view{
		font-size: 10px !important;
		position: relative;
	}
}*/

.faq h1{
	font-size: 17px;
}
.back-popup {
color: white;
text-transform: uppercase;
font-size: 13px;
display: inline-block;
background: #0aa8c3;
padding: 5px 35px;
font-family: 'GothamBold', sans-serif;

line-height: 1.84615;
}
.ys-next-btn{
	background-image: url('img/kuisbtn.png');
width: 228px;
height: 45px;
display: inline-block;
margin-top: 30px;
margin-bottom: 13px;

position: relative;

}
.thankyou{
	text-align: center;;
}
.thankyou p {
font-size: 0.775rem;
}
.thankyou p b {
font-weight: bold;
}

.popup-info h3 {
font-family: 'GothamMedium', sans-serif;
font-size: 33px;
color: black;
font-weight: bold;
text-transform: uppercase;

line-height: 80px;
}


.intro .intro-right p {
	width: 100%;
	font-size: 15px;
}		

.fb-like-wrapper{
	padding: 0px;
}

.connect-to-fb .fb-connect{
	padding: 10px;
font-size: 12px;
}
.my-text{
	padding-bottom: 1px !important;
}
.my-text p{
	line-height: 1.01429;
    font-family: 'GothamMedium', sans-serif;
	text-align: center;
	display: block;
	margin: auto;
	padding: 10px;
	font-size: 16px;
	color: #323232;
	margin-bottom: -10px;	
}
.my-text p span{
	font-weight: 900;
    font-family: 'GothamBold', sans-serif;
}
small{
	display: block;
	font-size: 10px;
	color: #898585;
	position: relative;
	left: -100px;
	text-align: left;
	top: 70px;
	font-family: 'GothamRegular', arial;
}

.vote{
	margin-top: 0 !important;
}

.popup-info .req-sample {
	padding-bottom: 10px;
}